:root {
    --light: #f6f6f6;
    --darkblue: #2c3e50;
    --lightblue: #3498db;
    --red: #e74c3c;
    --lightred: #f9eae7;
    --lightyellow: #fff5d1;
  }
  
  
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
  
/* Shared custom styles for headers */
  
.custom-modal-header,
.custom-card-header,
.btn-custom {
    background-color: var(--darkblue);
    color: var(--light);
}

h4 {
  padding-top: 10px; 
}

.header {
  background: rgb(2,0,36);
  color: white; 
  font-weight: 200;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,181,210,1) 100%);
}

.city-box {
  border: 1px solid black; 
  height: 170px; 
  padding: 5px
}

.title {
  display: flex;
  flex-direction: row;
}

.col {
  background: rgb(27, 21, 73); 
  height: 250px; 
  margin: 10px; 
  color: white;
}

.col p {
  margin-top: 5px;
  padding-top: 5px;
  font-weight: 200;
}

#timeStamp {
  font-weight: 400;
}

.button {
  margin: 20px 10px; 
}
  
